.header {
    display: flex;
    /* 15 top bottom, 20 left right */
    padding: 2px;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    background-color: #242526;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
    flex: '1 0 auto',
}

.header_left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_left>img{
    height: 40px;
    padding-left: 10px;
}

.header_input {
    display: flex;
    align-items: center;
    background-color: #3a3b3c;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 33px;
    height: 20px;
    width: 225px;
}

.header_input>input {
    border: none;
    background-color: transparent;
    outline-width: 0;

}

.header_input>input::placeholder{
  color: #b0b3b8;
}

.header_input>.MuiSvgIcon-root{
    color: #b0b3b8;
}

.header_center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header_option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header_option:hover {
    background-color: #3a3b3c;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header_option--active>.MuiSvgIcon-root {
    color: #2e81f4;
}

.header_option--active {
    border-bottom: 4px solid #2e81f4;
}

.header_option>.MuiSvgIcon-root {
    color: #b0b3b8;
}

.header_option:hover>.MuiSvgIcon-root {
    color: #2e81f4;
}

.header_info {
    display: flex;
    align-items: center;
}

.header_info>h4 {
    margin-left: 10px;
    color: #e4e6eb;
}

.header_right {
    display: flex;
}


@media screen 
 and (max-width: 900px) 
 and (min-width: 100px)  {

    .header_info {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .header_input {
        display: flex;
        align-items: center;
        background-color: #3a3b3c;
        padding: 10px;
        margin-left: 1px;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 33px;
        height: 20px;
        width: 25px;
    }

    .header_center {
        flex: none
    }

    .header_info.icons {
        display: none;
        justify-content: center;
    }
}

